extends ../layout

block content
  .page-header
    include partials/header
    h3 Dashboard

  p.lead Guest Logs
  table.table.table-striped.table-hover.table-bordered(id="logs-table")
    thead
      th.text-center.col-sm-3 Name
      th.text-center.col-sm-1 DOB
      th.text-center.col-sm-1 NRIC/FIN
      th.text-center.col-sm-2 Membership No
      th.text-center.col-sm-2 Membership/Expiry
      th.text-center.col-sm-1 Login
      th.text-center.col-sm-1 Logout
      th.text-center.col-sm-1 Successful?
      th.text-center.col-sm-1 Action
    //tr
    //  td Giacomo Gullizoni
    //  td 01/02/1999
    //  td S1234567X
    //  td 1234567
    //  td 02/02/2018
    //  td 02/02/2017 19:00
    //  td 02/02/2017 21:00
    //  td.text-center
    //    input(type="checkbox", value="")
    //  td
    //    button.btn.btn-link(type='submit')
    //      i.fa.fa-trash
    // .row
    // nav.text-center(aria-label="Page navigation")
    //   ul.pagination
    //     li
    //       a(href="#", aria-label="Previous")
    //         span(aria-hidden="true") «
    //     li
    //       a(href="#") 1
    //     li
    //       a(href="#") 2
    //     li
    //       a(href="#") 3
    //     li
    //       a(href="#") 4
    //     li
    //       a(href="#") 5
    //     li
    //       a(href="#", aria-label="Next")
    //         span(aria-hidden="true") »

    .btn-export-excel
      a(href='/logs/csv')
        button.btn.btn-success(type='submit')
          i.fa.fa-file-excel-o
          | Export All Logs to Excel File

  link(rel='stylesheet', href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
  script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js')
  script.
    $(document).ready(function () {
      $('#logs-table').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "logs/datatable",
        "columns": [
          {"data": "visitor.name"},
          {"data": "visitor.dob", "searchable": false},
          {"data": "visitor.nric"},
          {"data": "visitor.membershipId"},
          {"data": "visitor.membershipExpiry", "searchable": false},
          {"data": "timeIn"},
          {"data": "timeOut"},
          {"data": "loginSuccessful"},
          {"data": "actionEdit", "searchable": false, 'orderable': false}
        ],
        "order": ["5", "desc"],
        "columnDefs": [ 
          { 
            "targets": 1,
            "render": (data) => moment.utc(data).format("DD/MM/YYYY")
          },
          { 
            "targets": 4,
            "render": (data) => moment.utc(data).format("DD/MM/YYYY")
          },
          { 
            "targets": 5,
            "render": (data) => moment.utc(data).format("DD/MM/YYYY, h:mm A")
          },
          { 
            "targets": 6,
            "render": (data) => moment.utc(data).format("DD/MM/YYYY, h:mm A")
          },
          { 
            "targets": 7,
            "render": (data) =>  data ? 'Success' : 'Fail'
          }
        ],
      });
    });
