extends layout

block content
  .row
    .alert.alert-success.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      div Thanks you Kuriakin. You have successfully logged in.
    .alert.alert-danger.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      div Sorry, we've failed to log you in at this time. Please approach our friendly staff for help.
    .col-sm-12.text-center.center-screen
      h1 SPGG
      p.lead To sign in or sign out, scan your NRIC/FIN
      input#uploadFile.inputfile.btn__upload__float(
        type="file",
        accept="image/jpeg,image/gif,.png"
      )
      | 
      label(for="uploadFile")
        i.fa.fa-camera