ul.nav.nav-pills.pull-right(role="tablist")
  li(class=(title === 'Guest Logs') ? 'active' : undefined, role="presentation")
    a(href="/dashboard/guest-logs") Guest Logs
  li(class=(title === 'Manage Non-Members') ? 'active' : undefined, role="presentation")
    a(href="#") Manage Non-Members
  li(class=(title === 'Edit Form') ? 'active' : undefined, role="presentation")
    a(href="#") Edit Form
  li(class=(title === 'Change Password') ? 'active' : undefined, role="presentation")
    a(href="#") Change Password
